function initMap() {
  if (page.controller() === 'restaurants') {
    var infoWindow = new google.maps.InfoWindow();
    if (page.action() === 'show') {
      var restaurantLocation = {
        lat: $('.restaurant-map').data('lat'),
        lng: $('.restaurant-map').data('lng'),
      };
      var map = new google.maps.Map($('.restaurant-map')[0], {
        zoom: 18,
        center: restaurantLocation,
      });
      new google.maps.Marker({
        position: restaurantLocation,
        map: map,
      });
      return;
    }
    if (page.action() === 'index') {
      var berlinCoordinates = {
        lat: 52.52000659999999,
        lng: 13.404954,
      };
      var map = new google.maps.Map($('.restaurants-map')[0], {
        zoom: 12,
        center: berlinCoordinates,
      });
      $.getJSON('/restaurants.json', function (jsonData) {
        $.each(jsonData, function (key, data) {
          var latLng = new google.maps.LatLng(data.latitude, data.longitude);
          var marker = new google.maps.Marker({
            position: latLng,
            map: map,
            title: data.name,
          });
          var infoWindowContent =
            '<div class="restaurants-map__info-window"><a href="/restaurants/' +
              data.id + '"><h3>' + data.name + '</h3>' +
              data.kitchenType + '</a></div>';
          google.maps.event.addListener(marker, 'click', function () {
            infoWindow.setOptions({
              content: infoWindowContent,
            });
            infoWindow.open(map, marker);
          });
        });
      });
    }
  }
}

$(document).on('turbolinks:load', function () {
  if (page.controller() === 'restaurants') {
    if (['new', 'edit'].includes(page.action())) {
      $('#add-dish-link').on('click', function (e) {
        e.preventDefault();
        var fields = $(this).attr('data-fields');
        var newId = new Date().getTime();
        var regexp = new RegExp('new_dishes', 'g');
        $(this).before(fields.replace(regexp, newId));
      });
      return;
    }

    if (['index', 'show'].includes(page.action())) {
      if (page.included_google_maps_js_api === undefined) {
        var googleMapsApiKey = '<%= Rails.application.secrets.google_maps_api_key %>';
        $.getScript('https://maps.googleapis.com/maps/api/js?key=' + googleMapsApiKey +
        '&callback=initMap', function () {
          page.included_google_maps_js_api = true;
        });
      } else {
        initMap();
      }
    }
  }
});
