<h1>All the restaurants</h1>
<div class="clearfix">
  <div class="restaurants-map">
  </div>
  <ul class="restaurants-index">
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <li>
          <p class="restaurants-index__name"><%= restaurant.name %></p>
          <p class="restaurants-index__kitchen-type"><%= restaurant.kitchen_type %></p>
          <p class="restaurants-index__address"><%= restaurant.address %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
