<h1>All the restaurants</h1>

<ul class="restaurant-index">
  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurants_show_path do %>
      <li class="restaurant-index__restaurant">
        <p class="restaurant-index__name"><%= restaurant.name %></p>
        <p class="restaurant-index__description"><%= restaurant.address %></p>
      </li>
    <% end %>
  <% end %>
</ul>
