.restaurant-index {
  margin-top: 60px;
  list-style: none;
  padding-left: 0;
  & > a{
    text-decoration: none;
    color: inherit;
    & > li{
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #eee;
    }
  }
  p.restaurant-index__description{
    margin-bottom: 0;
    font-size: .85em;
  }
}


.restaurant-dishes {
  margin-top: 60px;
  &-index {
    list-style: none;
    padding-left: 0;
    & > li {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #eee;
    }
  }
}
