.restaurant-index {
  margin-top: 60px;
  list-style: none;
  padding-left: 0;
  & > a{
    text-decoration: none;
    color: inherit;
    & > li{
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #eee;
    }
  }
  p.restaurant-index__kitchen-type{
    margin-bottom: 0;
    font-size: .85em;
  }
}

.new_restaurant,
.edit_restaurant, {
  .field {
    margin-bottom: 10px;
  }
  input {
    display: block;
  }
}




.restaurant-dishes {
  margin-top: 60px;
  &-index {
    list-style: none;
    padding-left: 0;
    & > li {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #eee;
    }
  }
}


.error-explanation {
  border: 1px solid #eee;
  background: #f8f8f8;
  padding: 0 1rem;
  margin-bottom: 2em;
}

.field_with_errors {
  display: inline;
}
