.restaurants-index {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -5px;
  list-style: none;
  padding-left: 0;
  .restaurant-card {
    display: inline-block;
    min-height: 140px;
    width: 100%;
    @include breakpoint-min($tablet){
      width: calc(100% / 3 - 10px);
    }
    margin: 5px;
    background: #f2f2f2;
    &:hover {
      background: #f8f8f8;
    }
    a {
      display: block;
      height: 100%;
      padding: 25px;
      padding-top: 10px;
      text-decoration: none;
      color: inherit;
    }
    &__name {
      font-weight: bold;
      margin-bottom: -10px;
    }
    &__kitchen-type,
    &__address {
      font-size: .85em;
    }
    &__address {
      margin-bottom: 0;
    }
  }
}

.restaurants-map {
  margin-bottom: 40px;
  width: 100%;
  height: 350px;
  &__info-window {
    font-family: helvetica, sans-serif;
    font-weight: normal;
    padding: 7px;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: #666;
      }
    }
    h3 {
      margin: 6px 0;
    }
  }
}

.restaurant-info {
  float: left;
}

.restaurant-map {
  margin-top: 20px;
  width: 50%;
  height: 500px;
  float: right;
}

.restaurant-form {
  .field {
    margin-bottom: 10px;
  }
  input {
    display: block;
  }
}

.restaurant-dishes {
  margin-top: 60px;
  &-index {
    list-style: none;
    padding-left: 0;
    & > li {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #eee;
    }
  }
}
